@page "/myreadingcard/details"
@using BusinessLayer
@using ServiceLayer
@inject _UserManager _userManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>My Reading Card Details</h3>

    @if (model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Reading Card Id
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Book Titles
                    </th>
                    <th>
                        Number Of Books
                    </th>
                    <th>
                        Number Of Overwrites
                    </th>
                    <th>
                        Date Created
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (model != null)
                {
                    <tr>
                        <td>
                            @model.ReadingCardId
                        </td>
                        <td>
                            @(model.UserName != null ? model.User.UserName : string.Empty)
                        </td>
                        @if (model.Books.Count != 0)
                        {
                            <td>
                                @foreach (Book book in model.Books)
                                {
                                    <a href="book/details/@book.ISBN" class="col-md-2"> @book.Title</a>
                                }
                            </td>
                        }
                        else
                        {
                            <td>
                                There aren't any picked up books!
                            </td>
                        }
                        <td>
                            @model.BorrowedBooks
                        </td>
                        <td>
                            @model.NumberOfOverwrites
                        </td>
                        <td>
                            @model.DateCreated
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <div>
            <button>Overwrite Books</button>
        </div>
        <br />
        <div>
            <a href="book/index">Go to Books</a>
        </div>
    }
    else
    {
        <p>Loading...</p>
    }


    @code {
        private ReadingCard model;

        protected override async Task OnInitializedAsync()
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userName = user.Identity.Name;
                var currentUser = await _userManager.FindUserByNameAsync(userName, true);

                if (currentUser != null)
                {
                    model = currentUser.ReadingCard;//ЗАЩО READING CARD E NULL?!?!?!?!??!?!?
                }
            }
        }
    }
